**/*.svg
build
package.json
.dockerignore
.DS_Store
.eslintignore
*.png
*.md
*.toml
docker
.editorconfig
Dockerfile*
Documentation*
.gitignore
.prettierignore
*.css
*.min.css
*.css.map
.eslintcache
*.lock
yarn-error.log