{
  "env": {
    "node": true,
    "commonjs": true,
    "browser": true,
    "jest": true,
    "es6": true
  },
  "plugins": ["import", "react"],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "modules":true,
      "arrowFunctions":true,
      "classes":true,
      "jsx": true,
      "allowImportExportEverywhere": false
    },
  },
  "settings": {
    "react": {
      "version": "16.13.1"
    }
  },
  "rules": {
    "no-console": "warn",
    "no-eval": "error",
    "no-unused-vars": "warn",
    "import/first": "error"
  }
}
