**/*.svg
build
package.json
**/public/assets
*.md
*.sql
*.min.css
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
*.lock.json
Dockerfile*
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log
